*{
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 1vw;
}


.App {
  text-align: center;
}

.main-container{
  margin-top:2vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
  margin-right: 2vw;
}


.main-container {
  display: grid;
  grid-template-columns: auto auto;
}


.text-area {
  height: 90vh;
  width: 46vw;
  resize: none;
  border-style: inset;
  border-width: 1px;
  cursor: auto;

}
.data-area{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
  "a a b b b c c c c c c c c "
}

.match-table
{
  margin: 30px 5px 5px 5px;
  width: 46vw;
  border-collapse: collapse;
}
td, th, tr, tbody, thead {
  border: 1px solid black;
}

table, td, th, tr, tbody {
  overflow:hidden;
  text-overflow:ellipsis;
  border-width:1px;
  max-width: 46vw;
  vertical-align:top;
}
th {
  text-align: center;
  position: sticky;
  top: -1px;
  padding: 5px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

th::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
}


th::before{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

.match-head{
  background-color: #b1d5e5;
}

.group1-head{
  background-color: greenyellow;
}

.group2-head{
  background-color: orchid;
}

.table-body{
  display: inline-block;  
}


table {
  border-collapse: separate;
  display:block;
  height: 61vh;
  width: 46vw;
  overflow: scroll;

}
::-webkit-scrollbar{
  width: 0.5vw;
  height: 0.6vh;
}
::-webkit-scrollbar-thumb{
  background: crimson;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



.text-area-container {
  margin: 5px 5px 5px 5px;
  width: 46vw;
  cursor: auto;


}
.match {
  background-color: #b1d5e5;
  color: transparent;
  border-radius: 3px;
}

.group1 {
  background-color: greenyellow;
  color: transparent;
  border-radius: 3px;
}

.group2 {
  background-color: orchid;
  color: transparent;
  border-radius: 3px;
}



.regex-area {
  height: 20vh;
  width: 46vw;
  resize: none;
  background-color: gainsboro;
  border-style: inset;
  border-width: 1px;
  margin: 5px 5px 5px 5px;

}

.btn{
  background:crimson;
  height:  fit-content;
  grid-area: a;
  margin-left: 5px;

}

.num-matches{
  font-size: 18px;
  padding-right: 10px;
  padding-left: 5px;
  grid-area: b;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flags{
  height: 6vh;
  background-color: #242526;
  padding: 0 1rem;
}

.flags-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.flag-item{
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button{
  width: 2vw;
  height: 2vw;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.2)
}

.dropdown{
  position: absolute;
  top:58px;
  width: 200px;
  transform: translateX(-45%);
  background-color: #484a4d;
  overflow: hidden;
  border-radius: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
}

.menu-item{
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  text-align: center;
  border-radius: 50%;
  background-color: #484a4d;
  margin: 10px;
}

.menu-item:hover{
  background-color: #525357;
}

